#size_form {
  padding-top: 1em;
}
#first_instruction, #static_map_url  {
    padding-top: 2em;
}
.container, .regenerate, #options, #static_map {
    padding-top: 3em;
}
#options, #regenerate, #privacy_note, #about {
  padding-top: 5em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#map_bounds {
  background-color: #cdcdcd;
  width: 640px;
  height: 640px;
}

#regenerate {
  text-align: right;
}
#regenerate_link a {
  text-decoration: none;
}