.container {
    padding-bottom: 5em;
}
#options p, #regenerate p {
  padding-left: 1em;
}
#status_info, #first_instruction, #static_map_url, #about  {
    padding-top: 2em;
}
.container, #regenerate, #static_map {
    padding-top: 3em;
}
#options, #privacy_note {
  padding-top: 4em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#map_bounds {
  background-color: #cdcdcd;
  width: 640px;
  height: 640px;
}