.container {
    padding-bottom: 5em;
}
#options p, #regenerate p, #regenerate p, .indented {
  padding-left: 1em;
}
#status_info, #static_map_url, #privacy-note, #about {
    padding-top: 2em;
}
.container, #regenerate, #static_map {
    padding-top: 3em;
}
#options {
  padding-top: 4em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#map_bounds {
  background-color: #cdcdcd;
  width: 640px;
  height: 640px;
}


li {
  padding-top: 0.5em;
  list-style: none;
}
#descriptions ol {
  list-style: none;
}
#urls ol {
  padding-left: 0;
}