<html>
  <head>
    <title>Where Do You Go - create a heat map of your Foursquare checkins!</title>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <script src="/static/jquery-1.3.2.min.js"></script>
{% if key %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ key }}" type="text/javascript"></script>
    <script src="/static/wdyg-private.js" type="text/javascript"></script>
{% endif %}
    <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&login=wheredoyougo&apiKey=R_7fa515e9756ba8ac1a64a30cb5fa8763"></script>
    <script src="/static/wdyg-public.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" type="text/css" media="screen"  href="/static/wdyg.css">
  </head>
{% if key %}
  <body onunload="GUnload()">
{% else %}
  <body>
{% endif %}
    <div class="container">
      <div id="left" class="span-8">
        <div id="title"class="span-8 last">
          <h1><img src='static/wdyg_logo_web.png' alt='Where Do You Go'/></h1>
        </div>
        <div id="video" class="span-4">
          <object width="140" height="110"><param name="movie" value="http://www.youtube.com/v/Uc0moUPBJnM&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Uc0moUPBJnM&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="140" height="110"></embed></object>
        </div>