<div id="information" class="span-8 last">
  <h2>where am i?</h2>
  <p>Previously, this site allowed Foursquare users to create and share a heat maps of their check-ins. It is no longer operational, but existing users can still log in with Google to see their old maps and delete their data.</p>
  {% if user %}
    <script type="text/javascript">is_logged_in = true;</script>
  {% else %}
    <script type="text/javascript">is_logged_in = false;</script>
  {% endif %}

  <h2><a href="http://foursquare.com/">foursquare</a> says:</h2>
    <p>"We're all about helping you find new ways to explore the city. We'll help you meet up with your friends and let you earn points and unlock badges for discovering new places, doing new things and meeting new people."</p>

  <h2>a heat map? huh?</h2>
    <p>A heat map is a way to visualize location data using color on a map. Denser concentrations of color indicate more Foursquare check-ins at a venue at that particular location.</p>
</div>
