<body>
  <p>Intro text</p>

  {% if user %}
    <p>Hello there, <strong>{{ user.nickname }}</strong>. Where do you go?</p>

    {% if data_ready %}
      <p><a href="/jsmap">look at your map</a></p>

      {% if map_ready %}
        <p><a href="/staticmap/user.png">http://where-do-you-go.appspot.com/staticmap/user.png</a></p>
      {% else %}
        <p><a href="/generate_staticmap">generate static map image</a></p>
      {% endif %}

     {% else %}
       <p><a href="/go_to_foursquare">authenticate on foursquare with oauth</a></p>
     {% endif %}


     <p><a href="/delete_all_my_data">Delete all my data</a></p>
  {% endif %}

  <p><a href="{{ url }}">{{ url_linktext }}</a></p>