<script src='http://code.jquery.com/jquery-latest.js'></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ key }}" type="text/javascript"></script>
<script type="text/javascript">
  var map;
  function initialize() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng({{ centerlat }}, {{ centerlong }}), {{ zoom }});

      var customUI = map.getDefaultUI();
      customUI.maptypes.satellite  = false;
      customUI.maptypes.hybrid  = false;
      customUI.maptypes.physical  = false;
      customUI.maptypes.normal = true;
      customUI.zoom.scrollwheel = false;
      customUI.controls.smallzoomcontrol3d = true;
      customUI.controls.scalecontrol   = false;
      map.setUI(customUI);

      //addPlaceMarks(map);
      addHeatMap(map);
    }
  }

  function addPlaceMarks(map) {
    var point;
    {% for checkin in checkins %}
      point = new GLatLng({{ checkin.location }});
      map.addOverlay(new GMarker(point));
    {% endfor %}
  }

  function addHeatMap(map) {
    // Set up the copyright information. Each image used should indicate its copyright permissions
    var myCopyright = new GCopyrightCollection("© ");
    myCopyright.addCopyright(new GCopyright('lala', new GLatLngBounds(new GLatLng(-90,-180), new GLatLng(90,180)), 0,'la la la'));

    // Create the tile layer overlay and implement the three abstract methods
    var tilelayer = new GTileLayer(myCopyright);
    tilelayer.getTileUrl = function(point, zoom) { return "tile/classic/" + zoom + "/" + point.y + "," + point.x +".png" };
    tilelayer.isPng = function() { return true;};
    tilelayer.getOpacity = function() { return 1.0; }

    var myTileLayer = new GTileLayerOverlay(tilelayer);
    map.addOverlay(myTileLayer);
  }

  function generateStaticMap() {
    var bounds = map.getBounds();
    var north = bounds.getNorthEast().lat();
    var west = bounds.getSouthWest().lng();

    var zoom = map.getZoom();

    $.get("generate_static_map/" + zoom + "/" + north + "," + west);
  }
</script>

<body onload="initialize()" onunload="GUnload()">

  <a href="/">go back to main</a>
  <br/><br/>

  <img src="http://where-do-you-go.appspot.com/map/115067722227773763022.png">
  <div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px"></div>

  {% if user %}
    <a href="" onclick="generateStaticMap()">generate a static image of this map view</a>

    <ol>
    {% for checkin in checkins %}
      <li><strong>{{ checkin.venue.name }}</strong> at {{ checkin.location }}</li>
    {% endfor %}
    </ol>
  {% endif %}


  <br/><br/>
  <object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/Uc0moUPBJnM&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Uc0moUPBJnM&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>

