<script type="text/javascript">
  var global_centerlat = {{ centerlat }};
  var global_centerlong = {{ centerlong }};
  var global_zoom= {{ zoom }};
</script>
  <div id="options" class="span-8 last">
    <form id="color_form" action="">
      <fieldset>
        <label for="color_options">color scheme </label><br />
        <select name="color_options">
          {% for c in color_scheme_dict %}
            {% ifequal c color_scheme %}
              <option selected value="{{ c }}">{{ c }}</option>
            {% else %}
              <option value="{{ c }}">{{ c }}</option>
            {% endifequal %}
          {% endfor %}
        </select>
      </fieldset>
    </form>
    <form id="size_form" action="">
      <fieldset>
        map <label for="width" id="width_label">width</label> and <label for="height" id="height_label">height</label> (px)<br />
        <input type="text" name="width" id="width" size="6" value="640" class="text-input" />
        <input type="text" name="height" id="height" size="6" value="640" class="text-input" />
        <input type="submit" name="submit" class="button" id="size_button" value="update" />
        <br />
        <label for="width" id="dimension_error">Must be a number between 0 and 640 pixels.</label>
      </fieldset>
    </form>
  </div>
  <div id="regenerate" class="span-8 last">
    <h2>
      <div id="regenerate_link" class="span-8 last">
        <a href="/">(re)generate your map<br/>with the current view</a>
      </div>
      <div id="regenerate_status" class="span-8 last">
        (re)generating map...<br/><img src='static/spinner-large.gif'/>
      </div>
    </h2>
  </div>
  <div id="privacy_note" class="span-8 last">
    <p><strong>Privacy Note</strong>: WDYG does store your Foursquare data, but it does not store data from the past 24 hours and does not store details about individual checkins. Clicking the "Delete your WDYG data" link above will delete all of your data until you re-authorize the application with Foursquare.</p>
  </div>
</div>
<div id="map_container" class="span-16 last">
  <div id="map_bounds">
    <div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px">
    </div>
  </div>
</div>