<script type="text/javascript">
  var global_centerlat = {{ centerlat }};
  var global_centerlong = {{ centerlong }};
  var global_zoom= {{ zoom }};
</script>
  <div id="privacy_note" class="span-8">
    <p><strong>Privacy Note</strong>: WDYG does store your Foursquare data, but it does not store data from the past 24 hours and does not store details about individual checkins. Clicking the "Delete your WDYG data" link above will delete all of your data until you re-authorize the application with Foursquare.</p>
  </div>
</div>
<div id="map_container" class="span-16 last">
  <div id="map_bounds">
    <div id="map_canvas" style="width: {{ width }}px; height: {{ height }}px">
    </div>
  </div>
</div>