  <div id="hello" class="span-4 last">
{% if user %}
    <h4>hi, {{ real_name }}! <a href="{{ url }}">logout?</a></h4>
    <img src="{{ photo_url }}" />
  </div>
  <div id="status_info" class="span-8 last">
  {% if userinfo %}
    <h4>
      <span id="checkin_count" class="span-4">{{ userinfo.checkin_count }} checkins logged!</span>
      <span id="delete_all_span" class="span-4 last"><input type="submit" name="submit" class="button" id="delete_all_button" value="delete your data" /></span>
    </h4>
  {% else %}
    <h4><a href="/go_to_foursquare">Login with Foursquare using OAuth</a></h4>
  {% endif %}
  </div>
{% else %}
    <h4><a href="{{ url }}">login!</a> then OAuth</h4>
    <img src="{{ photo_url }}" />
  </div>
{% endif %}