<div id="left-lower" class="span-8 last">
  <h2>uh-oh!</h2>
  <p>
    It looks like Foursquare is having some issues with their API...
  </p>
  <p>
	Please come back and try again in a few hours!
  </p>
</div>
<div id="regenerate" class="span-8 last">
  <h2>take a snapshot anyway:</h2>
  <p>
    <input type="submit" name="submit" class="button" id="regenerate_button" value="create your map with the current view" />
    <span id="regenerate_status">(re)generating map... <img src='static/spinner-small.gif'/></span>
    <label for="regenerate_button"><br/>it will periodically update itself as you check in<br/>to more places, but the links won't change</label
  </p>
  <p>
    <input type="submit" name="submit" class="button" id="delete_map_button" value="delete your public map and personalized page" />
    <span id="delete_map_status">deleting map... <img src='static/spinner-small.gif'/></span>
  </p>
</div>