  <div id="hello" class="span-4 last">
{% if user %}
  {% if real_name %}
    <h4<span>Hi {{ real_name }}! <a href="{{ url }}">Logout?</a></span></h4>
  {% else %}
    <h4><span>Hi {{ user }}! <a href="{{ url }}">Logout?</a></span></h4>
  {% endif %}
    <img height="75" src="{{ photo_url }}" />
  </div>
  <div id="status_info" class="span-8 last">
  {% if userinfo %}
    <h4>
	  <span id="checkin_count" class="span-5">{{ userinfo.checkin_count }} checkins logged!</span>
    {% if userinfo.is_ready %}
      <span id="delete_all_span" name="started_ready" class="span-3 last"><input type="submit" name="submit" class="button" id="delete_all_button" value="delete your data" /></span>
    {% else %}
      <span id="delete_all_span" name="" class="span-3 last"><input type="submit" name="submit" class="button" id="delete_all_button" value="delete your data" /></span>
    {% endif %}
      <span id="fetching_span" class="span-3 last">Fetching the rest...<img src='static/spinner-small.gif'/></span>
    </h4>
  {% else %}
    <span name="not_oauthed" id="oauth_span"><a href="/go_to_foursquare"><img src="static/signinwith-foursquare.png"></a></span>
  {% endif %}
  </div>
{% else %}
    <h4><a href="{{ url }}">Login</a>, then OAuth!</h4>
    <img height="75" src="{{ photo_url }}" />
  </div>
{% endif %}
