<div id="left-lower" class="span-8 last">
  <h2><a href="http://foursquare.com/">foursquare</a> says:</h2>
    <p>"We're all about helping you find new ways to explore the city. We'll help you meet up with your friends and let you earn points and unlock badges for discovering new places, doing new things and meeting new people."</p>

  <h2>a heat map? huh?</h2>
    <p>A heat map is a way to visualize location data using color on a map. Denser concentrations of color indicate more Foursquare check-ins at a venue at that particular location.</p>

  <h2>like it? <a name="http://{{ domain }}/{{ public_url }}" id="tweet_link" href="http://twitter.com">tweet it!</a></h2>
</div>
