<div id="static" class="span-24 last">
  <div class="span-24 last">
    <h2>finally, share it!</h2>
  </div>
  <div id="descriptions" class="span-8">
    <ol>
      <li class="indented">send this link to your friends! <a name="http://{{ domain }}/{{ public_url }}" id="tweet_link" href="http://twitter.com">go to Twitter</a></li>
      <li class="indented"><a href="http://en.wikipedia.org/wiki/Hotlink">hotlink</a> this url in an &#60;img&#62; tag on your blog!</li>
	  <li class="indented">to set the background map with CSS, copy</li>
	
    </ol>
  </div >
  <div id="urls" class="span-16 last">
    <ol>
      <li><a href="{{ public_url }}">http://{{ domain }}/{{ public_url }}</a></li>
      <li><a href="{{ mapimage_url }}">http://{{ domain }}/{{ mapimage_url }}</a></li>
	  <li><a href="{{ static_url }}">this link</a> and then nest your &lt;img&gt; in something like &lt;div style="background-image:url('paste that link here')"&gt;</li>
    </ol>
  </div>
  <div id="privacy-note" class="span-8">
    <h2>important:</h2>
    <div class="indented">
      <p>WDYG doesn't store checkins from the past 24 hours, and doesn't store details about individual checkins.</p>
      <p>Both that public page and that image are visible to <strong><em>anyone on the Internet!</em></strong> If you're not happy about this, you can delete them by clicking the button above, or you can delete all of your data by clicking the button in the upper left.</p>
      <p>You only get one map at a time, and creating a new snapshot will change the old image but won't break your old links. If you want maps for multiple cities (both New York and San Francisco, for example) just log in with a second Google account and re-authorize Foursquare.</p>
    </div>
  </div>
  <div id="static_map_div" class="span-16 last" style="width: 640px; background-image:url('{{ static_url }}'); background-repeat:no-repeat;">
    <img src="http://{{ domain }}/{{ mapimage_url }}?{{ timestamp }}"/>
  </div>
</div>