<div id="static" class="span-24 last">
  <div class="span-24 last">
    <h2>finally, share it!</h2>
    <strong class="indented">you get two links:</strong>
  </div>
  <div id="descriptions" class="span-8">
    <ol>
      <li>send this link to your friends! <a href="">go to Twitter</a>
      <li>embed this url in an &#60;img&#62; tag on your blog!
    </ol>
  </div >
  <div id="urls" class="span-16 last">
    <ol>
      <li><a href="{{ publicpage_url }}">http://www.wheredoyougo.net/{{ publicpage_url }}</a></li>
      <li><a href="{{ mapimage_url }}">http://www.wheredoyougo.net/{{ mapimage_url }}</a></li>
    </ol>
  </div>
  <div id="privacy-note" class="span-8">
    <h2>important:</h2>
    <div class="indented">
      <p>WDYG doesn't store checkins from the past 24 hours, and doesn't store details about individual checkins.</p>
      <p>Both that public page and that image are visible to <strong><em>anyone on the Internet!</em></strong> If you're not happy about this, you can <a id="delete_map_only">delete them by clicking here</a> or you can delete all of your data by clicking the link above.</p>
      <p>Each Google user currently only gets one map, but for now feel free OAuth into the same Foursquare account from a second Google account.</p>
    </div>
  </div>
  <div id="static_map_url" class="span-16 last">
    <img src="http://www.wheredoyougo.net/{{ mapimage_url }}"/>
  </div>
</div>